<div id="first">
    <div class="palm-text" align="center">Welcome to Untappd lite!</div>
	<div class="palm-body-text"><strong>
	This app is a not a native Untappd app it is just a webview wrapper for m.untappd.com it removes the url bar and back buttons.</strong></div>
	<div class="palm-body-text">These are not required when using the Untappd web app.</div>
	<div class="palm-body-text">We are not affiliated with Untappd but have received permission from them to create this app.</div>
	<div class="palm-body-text">Check out the help and faq sections for more info about Untappd and this app.</div>
	<div class="palm-body-text" align="center"><strong>Remember *Drink Socially*</strong></div>
	    <div x-mojo-element="Button" id="button1"></div>
</div>