<div id="faq">
    <div class="palm-text" align="center">What is Untappd?</div>
	<div class="palm-body-text"><strong>
	Wondering what Untappd is? That's a good question - you've come to the right place.</strong></div>
	<div class="palm-body-text">Untappd is a new way to socially share the brew you're currently enjoying, as well as where you're enjoying it, with your friends! Curious what your friends are drinking or where they're hanging out? Just check out their Untappd profile and comment on their share and find out! It's a great way to spread your favorite brews and hang outs with your friends.</div>
	<div class="palm-body-text">As you explore more brews and locations, you will uncover a variety of badges. Compete with your friends to see who can earn more!</div>
	<div class="palm-body-text" align="center"><strong>Why?</strong></div>
	<div class="palm-body-text">You check-in to Foursquare, you update your status on Facebook, and you tweet about your Ham sandwich at lunch. Pretty much everything we do today, we share with the web through some sort of social network. At Untappd - we think its about time that we make drinking social.</div>
	<div class="palm-body-text">By using Untappd - you will be opening your eyes to the world of beer and give yourself the chance try new brews at different locations. After all - the best suggestions are from your friends!</div>
	<div class="palm-body-text" align="center"><strong>Remember *Drink Socially*</strong></div>
</div>